<!DOCTYPE html>
{%load static%}
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}"/>

</head>
<body>
    <ul class="profile_navbar">
        <li>
            <a href="{% url 'homepage:index' %}" target="_self">HOME</a>
        </li>
        <li>
            <a href="{% url 'homepage:projects' %}" target="_self">PROJECTS</a>
        </li>
        <li>
            <a href="{% url 'homepage:index' %}#contacts" onclick="scrollTo('contacts')">CONTACTS</a>
        </li>
    </ul>
    <div class="main">
        <div class="profile_container">
            <div class="profile_container_sect" style="flex-basis: 100%;">
                <h1 id="title_text">
                    Faza Aulia Aryoga
                </h1>
                <h2 id="title_text">
                    Student at University of Indonesia
                </h2>
                <img src="{% static 'Faza Aulia Aryoga.jpg' %}" alt="profile pic" style="height: 500px; width: 500px; border-radius: 50%; border: 3px solid black; margin: auto; padding: 3px;">
                <h3 id="title_text">
                    A 19 year old Computer Science student with a dream to be a game developer in the future. I learn about game development in my free time and i like playing games and archery
                </h3>
            </div>
        </div>
        <div class="profile_container">
            <h1 id="title_text" style="padding-top: 25px; padding-bottom: 25px;">
                SKILLS
            </h1>
            <img src="{% static 'Unity.png' %}" alt="UnityEngine" title="Unity Engine" id="skills_icon">
            <img src="{% static 'Unreal engine.png' %}" alt="Unreal Engine" title="Unreal Engine 4" id="skills_icon">
            <img src="{% static 'Java.png' %}" alt="Java" title="Java" id="skills_icon">
            <img src="{% static 'Python.png' %}" alt="Python" title="Python" id="skills_icon">
            <img src="{% static 'C sharp.png' %}" alt="C sharp" title="C#" id="skills_icon">

            <h1 id="title_text" style="padding-top: 25px; padding-bottom: 25px;">
                EDUCATION & WORK EXPERIENCE
            </h1>
            <ul>
                <li>
                    SMA Negeri 1 Depok 2015 - 2018
                </li>
                <li>
                    University of Indonesia 2018 - Present
                </li>
                <li>
                    placeholder
                </li>
                <li>
                    placeholder
                </li>
                <li>
                    placeholder
                </li>
            </ul>
        </div>
        <div class="profile_container">
            <h2 id="title_text" id="contacts">
                CONTACT ME
            </h2>
            <div id="contact_container">
                <img src="{% static 'Line.png' %}" alt="Line" id="skills_icon" onclick="on()">
                <a href="https://www.linkedin.com/in/faza-aryoga-77a2a61a1/" target="_blank">
                    <img src="{% static 'linkedin-logo-png-1825.png' %}" alt="linkedin" id="skills_icon">
                </a>
                <a href="https://steamcommunity.com/profiles/76561198127667028/" target="_blank">
                    <img src="{% static 'steam-icon-14883.png' %}" alt="steam" id="skills_icon">
                </a>
                <a href="https://www.instagram.com/faza_aryoga/" target="_blank">
                    <img src="{% static 'instagram-logo-png-2428.png' %}" alt="instagram" id="skills_icon">
                </a>
            </div>
        </div>

        <div id="line_overlay" onclick="off()">
            <div id="line_overlay_bg">
                <h4 id="title_text" style="color: black;">Use the QR Code scanner on your line</h4>
                    <img src="{% static 'my_qrcode_1580575791331.jpg' %}" alt="qr_code">
                <p id="title_text" style="color: black;">
                    LINE -> Friends -> Add Friends -> QR Code Scanner
                </p>
            </div>
        </div>
    </div>


    <script>
        // When the user scrolls down 20px from the top of the document, slide down the navbar
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
                document.getElementsByClassName("profile_navbar")[0].style.top = "0";
            } else {
                document.getElementsByClassName("profile_navbar")[0].style.top = "-100px";
            }
            prevScrollpos = currentScrollPos;
        }

        function scrollTo(hash){
            location.hash = "#" + hash;
            console.log("Called")
        }

        function on() {
            document.getElementById("line_overlay").style.display = "block";
        }

        function off() {
            document.getElementById("line_overlay").style.display = "none";
        }
    </script>
</body>