<!DOCTYPE html>
{%load static%}
<head>
    <title>
        Friend List
    </title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <ul class="profile_navbar">
        <li>
            <a href="{% url 'homepage:index' %}">
                HOME
            </a>
        </li>
        <li>
            Project 1
        </li>
        <li>
            Story 5
        </li>
        <li>
            <a data-toggle="modal" data-target="#exampleModalCenter">
                Launch demo modal
            </a>
        </li>
    </ul>
    <div class="main">
        <div class="profile_container">
            <form action="{% url 'homepage:story5' %}" method="POST">
                {% csrf_token %}
                <p>NAME:</p>
                {{ form.name }}
                <p>NPM:</p>
                {{ form.npm}}
                <p>Hobbies:</p>
                {{ form.hobby }}
                <p>Favorite food/drinks:</p>
                {{ form.favorite}}
                <p>YEAR:</p>
                {{ form.year }}
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="profile_container">
            <ul>
                {% for friends in friend_list %}
                <li>
                <h3>
                   {{ friends.full_name}}
                </h3>
                <p>
                   NPM: {{ friends.student_id }}
                </p>
                <p>
                    Hobbies: {{ friends.hobby }}
                </p>
                <p>
                    Favorite Food/Drinks: {{friends.favorite_food}}
                </p>
                <p>
                    Year: {{ friends.year.year }}
                </p>
                {% endfor %}
                </li> 
            </ul>
        </div>
    </div>
</body>