@font-face {
    font-family: Comfortaa;
    src: url(/static/Comfortaa-Regular.ttf);
}

* {
    font-family: Comfortaa;
}

body {
    background-color: white;
    margin: 0;
}

.main {
    background-image: url(/static/627808.png);
    background-size: cover;
    background-attachment: fixed;
    border-top: 100px solid white;
    top: 100px;
    display: flex;
    flex-flow: column;
    font-family: Comfortaa;
    color: white;
}

.profile_navbar {
    position: fixed;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    left: 0px;
    height: 100px;
    top: 0px;
    list-style-type: none;
    background: #150009;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    transition: top 0.3s;
}

.profile_navbar li {
    display: flex;
    flex: 1 1;
    flex-basis: 25%;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.profile_navbar li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

.profile_navbar li:hover{
    background-color: grey;
    border-bottom: 3px solid red;
}

.profile_container {
    flex-flow: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 100%;
    background: rgba(255, 255, 255, 0.90);
    color: black;
}

.profile_container_sect{
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    flex-flow: column;
    align-content: center;
    width: 50%;
    word-wrap: break-word;
}

#title_text{
    text-align: center; 
    padding-left: 10px; 
    margin-bottom: 10px;
    width: 100%;
    word-wrap: break-word;
}

#skills_icon{
    width: 100px;
    height: 100px;
    flex: 0 1;
}

#contact_container{
    flex-flow: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
}

#line_overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#line_overlay_bg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}

#line_overlay_button{
    display: flex;
    background-color: black;
    flex-flow: row;
    justify-content: flex-end;
    width: 100%;
}

#friend_list{
    background: white;
}
